body{
  text-align:center;
  font-size: 35px;
}
body:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

#img {
  width: 70%;
  object-fit:contain;
  margin-top: 5px;
  border: 1px solid black;
}
#del {
  width: 35%;
  height: 30%;
  font-size: 140%;
  border: 2px solid dodgerblue;
  background-color: white;
  color: dodgerblue;
  padding: 14px 28px;
  cursor: pointer;
}

#del:hover { 
  background: #2196F3;
  color: white;
}

a {
	text-decoration: none;
}
a:hover { color: dodgerblue; }

#addphoto{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  font-size:220%;
  padding: 14px 28px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  width: 85%;
  height: 20%;
}
#addphoto:hover{
  background:#fff;
  color:#1AAB8A;
}
#addphoto:before, #addphoto:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:5%;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#addphoto:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#addphoto:hover:before,addphoto:hover:after{
  width:100%;
  transition:800ms ease all;
}

#option{
	position: fixed;
	width: 32%;
	height: 5%;
	color:#fff;
	background: #004fff;
	font-size: 100%;
	border:none;
	border-radius: 20px;
	box-shadow: 0 4px 16px rgba(0,79,255,0.3);
	transition:0.3s;
	bottom: 0;
	left:50%;
	transform: translate(-50%,-50%);
}
#option:focus {
	outline:0;
}
#option:hover{
	background: rgba(0,79,255,0.9);
	cursor: pointer;
	box-shadow: 0 2px 4px rgba(0,79,255,0.6);
}

label {
  background-color: indigo;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 170%;
  width: 70%;
  height: 30%;
  padding: 14px 28px;
}
